// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

// src/main/webapp/VAADIN/themes/vseminar/img/vaadin-logo.png
$login-background-image: "img/vaadin-logo.png" !default;

//Valotheme의 모든 style이 import 되어 진다.
@import "../valo/valo.scss";

@mixin vseminar {

  @include valo;  
  
  // 배경이미지 
  .login-screen {
    @if $login-background-image {
      background-image: url(#{$login-background-image});
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  
  // 화면 가로폭이 700px 이하면 동작    
  .v-ui[width-range~="0-700px"] {
    .login-screen {
      background-size: 70%;
      .login-panel {     
        margin: 10px;         
        .labels .h4 {
          display: block;
        }
        .v-slot {
          display: block;
          .v-widget {
            width: 100%;
          }
        }
        .buttons {
          width: 100%;
          .v-button {
            display: block;
            text-align: center;
          }
        }
      }
    }
  } 
      
}

